<mat-card class="project-card">
    <mat-card-title>
        Corsi-Rosenthal Style Air Filter
    </mat-card-title>
    <mat-card-subtitle>
        <div>
            <a href="https://github.com/justinb4003/crpc">https://github.com/justinb4003/crpc</a>
        </div>
    </mat-card-subtitle>
    <mat-card-content>
        A 3d printable project that builds a case for two air filters that uses
        PC fans to pull air through the filters. Models are currently created for two different
        styles with 120mm fans and another with 80mm fans. The 80mm version is my favorite so far.
        <div>
            <img src="/assets/cr80_complete_web.png" class="project-pic">
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="project-card">
    <mat-card-title>
        FRC Scouting App
    </mat-card-title>
    <mat-card-subtitle>
        <a href="https://github.com/TheTriSonics/FRCScout">https://github.com/TheTriSonics/FRCScout</a>
    </mat-card-subtitle>
    <mat-card-content>
        A scouting application for FRC.
    </mat-card-content>
</mat-card>

<mat-card class="project-card">
    <mat-card-title>
        Mario Jump!
    </mat-card-title>
    <mat-card-subtitle>
        <a href="https://github.com/justinb4003/mario_jump_flutter">https://github.com/justinb4003/mario_jump_flutter</a>
    </mat-card-subtitle>
    <mat-card-content>
        A Flutter app intended for Android watches that makes the jump noise
        from Super Mario Bros. when you jump.
    </mat-card-content>
</mat-card>


<mat-card class="project-card">
    <mat-card-title>
        Claw!
    </mat-card-title>
    <mat-card-subtitle>
        <div>
            Microcontroller: <a href="https://github.com/justinb4003/esp32_claw">https://github.com/justinb4003/esp32_claw</a>
        </div>
        <div>
            App: <a href="https://github.com/justinb4003/claw-app">https://github.com/justinb4003/claw-app</a>
        </div>
    </mat-card-subtitle>
    <mat-card-content>
        An ESP32 powered claw powered by a servo with an HTTP server for remote
        control.
    </mat-card-content>
</mat-card>
